body,div,ul,li,.container-fluid,.row div{margin: 0;padding: 0;}
.zhanwei{
    visibility: hidden;
}
.nav-list li:hover{
    animation: colorChange 2.5s linear infinite alternate;
    -webkit-animation:colorChange  2.5s linear infinite alternate;
}
@keyframes colorChange {
    form{
        background: #ddd;
    }
    to{
        background: #ea644a;
    }
}
.index-bg{
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: url('../lib/img/indexbg.jpg') no-repeat 100% 100%;
}
.index-show-head{

}
.index-show-head span{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 70px;
    left: 20px;
}
.index-show-head ul{
    position: absolute;
    top: 72px;
    right: 40px;
}
.index-show-head ul li{
    float: left;
    width: 80px;
    text-align: center;
    color: white;
    list-style: none;
    font-size: 16px;
    /* position: absolute; */
    cursor: pointer;
    line-height: 50px;
    margin-left: 40px;
}
.index-show-head ul li:hover{
    color: #ea644a;
    background-color: rgb(55, 176, 63);
}
.index-show-body{
    position: absolute;
    top: 64%;
    padding-left: calc(50% - 100px);
}
.text-span{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50%;
    left: calc(50% - 180px);
}
.index-show-body a{
    background: #ea644a;
    width: 200px;
    color: white;
}
.index-show-footer{
    position: absolute;
    bottom: 100px;
    padding-left: calc(50% - 143px);
}
.index-show-footer span{
    font-size: 22px;
    color: white;
}
#nav_link{font-size: 20px;font-family: "微软雅黑", "黑体", sans-serif ;}
#nav_link ul{width: 80%;}
#nav_link ul li {margin-left: 2%;}
#nav_head{margin: 0;}
#body_inner{height: 100%;width: 100%;margin: 0;padding: 0;padding-bottom: 40px;
    background:rgba(180,180,180,0.2);font-family: "微软雅黑", "黑体", sans-serif ;}
.left_list{display: none;}

.list1{overflow: hidden;}

.body_header{height: 174px;background: white;}
.body_header .body_header_right{height: 100%;width: 100%;
    background: #A8916B;
    text-align: center;}
.body_header .body_header_left {height: 174px;background: #A8916B;text-align: center;}
.body_header .body_header_right h2,.body_header .body_header_left h2{color: white;margin-top: 0;padding-top: 70px;}
.body_header .body_header_left h4{color: white;}

.list2{margin-top: 20px;}
article{background: white;padding: 30px;margin-top: 30px;border: 1px solid transparent;}
.list2 article:hover{
    border:1px solid #38B03F;
}
article .article_p{margin-top: 14px;}
article img{width: 100%;height: 100%;}
article h4{margin-top: 10px;}
article canvas{
    height: 100%;
    width: 100%;
}
.list2_right article{margin-left: 40px;padding-top: 10px;position: relative;}
.list2 .index_authorInfo {color: rgba(0,0,0,0.5);font-size: 18px;text-align: center;
margin-bottom: 10px;}
.list2 .index_authorInfo span a{text-decoration: none;color: #ea644a;margin-left: 10px;}
.list2 .index_authorInfo time{margin-left: 10px;}
.list2_right hr,.list3 hr{border-top: 1px solid rgba(0,0,0,0.5);}
.list3{text-align: center;}
.list3 .list_part{margin-left: 34px;}
.list2_right h4{
    word-break: break-all;
}
footer{ height: 140px;width: 100%;background: rgba(0,0,0,0.7);}

/*login_part*/
#login_part{margin-top: 200px;height: 380px;padding-top: 40px;}
#login_part h1{text-align: center;}
#login_part .form-group{margin-top: 10px;}
#login_part .form-group a{margin-left: 10px;text-decoration: none;color: rgba(0,0,0,0.5);}
#login_body{margin: 0;}



/*addblog*/
#add_blog{margin: 0;padding: 0;}

#myChartTwo{
    position: absolute;
    left: 30px;
    top: 10px;
}
.second-div{
    position: absolute;
    right: 10px;
    top: 2px;
    height: 240px;
    width: 10px;
    background: #f1f1f1;
}
.seconds{
    position: absolute;
    background: #8666B8;
    bottom: 0px;
    height: 4px;
    width: 4px;
    right: 3px;
}
.clock-num{
    position: absolute;
    bottom: 4px;
    left: 4px;
}
.clock-num span{
    font-size: 16px;
    font-weight: bolder;
}
/*--------------keyframes---------------------*/
footer div{
    height: 100%;

}
.footer-middle{
    text-align: center;
}
.footer-middle ul li{
    list-style: none;
    text-align: left;
    margin-left: 30%;
}
.footer-middle h3,.footer-middle ul li a{
    color: white;
}
.footer-right h3,.footer-right span,.footer-right b{
    color: white;
}

/*================================tec页面==============================================*/
.HXM-tec-lunBo{
    height:400px;
    background: #f1f1f1;
    overflow: hidden;

}
.HXM-tec-lunBo-ul{
    position: relative;
    height: 100%;
    width: 100%;
}
.HXM-tec-lunBo-ul li{
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    float: left;
}
.li-active{
    display: block!important;
}
.HXM-tec-lunBo-ul img{
    height:400px;
    width: 100%
}
.tec-contain{
    background: #f1f1f1;
}
.tec-pis{
    margin-top: 20px!important;
    background: white;
    height:200px;
    width: 100%;
    border: 1px solid #999;
    padding: 10px!important;
    position: relative;
}

.tec-pic{
    padding: 0;
    margin: 0;
    height: 178px;
    overflow: hidden;
}
.tec-pics{
    height: 178px;
    width: 100%;
    margin: auto;
    transition:all 1s;
    -moz-transition:all 1s; /* Firefox 4 */
    -webkit-transition:all 1s; /* Safari and Chrome */
    -o-transition:all 1s; /* Opera */
    border-radius: 14px;
}
.tec-pics:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.li-text-are{
    position: absolute;
    top: 40%;
    left:100px;
    background: rgba(255,255,255,0.6);
    padding: 10px!important;
    width: 480px;
    border-radius: 30px;
    transition:border-radius 1s;
    -moz-transition:border-radius 1s; /* Firefox 4 */
    -webkit-transition:border-radius 1s; /* Safari and Chrome */
    -o-transition:border-radius 1s; /* Opera */
}
.li-text-are:hover{
    border-radius: 0;
    text-shadow: #fff 1px 1px 1px;
}
.li-text-are h2,.li-text-are h3{
    color: #333;
}
.tec-text{
    padding: 10px!important;
    position: relative;
}
.tec-text span{
     font-size: 14px;
    text-indent: 2em;
    display: block;
    line-height: 26px;
    color: #666;
 }
.tec-text h3{
    cursor: pointer;
    color: rebeccapurple;
}
.tec-text h3:hover{
    text-decoration: underline;
}
.tec-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.tec-btn a{
    background: #ea644a;
    color: white;
    opacity: 0.8;
}
.tec-right{padding: 20px!important;}
.tec-tags{
    border: 1px solid #888;
    padding: 20px!important;
}
.tec-tags ul li{
    list-style: none;
    line-height: 26px;
    padding: 0 10px;
    margin-bottom:6px;
    width: 70%;
    transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
}
.tec-tags ul li:hover{
    width: 100%;
}
.tec-tags ul li a{
    color: white;
    text-decoration: none;
}
.tec-contain-title{
    height: 40px;
    background: white;
    padding-left: 10px;
    border-bottom: 3px solid #ea644a;
}
.tec-contain-title span{
    line-height: 40px;
}

/*=====================================detail==========================================*/
.tec-detail-head{
    margin-top: 20px!important;
}
.tec-detail-head a{
    border-radius: 0;
    color: white;
    transition:all 2s;
    -moz-transition:all 2s; /* Firefox 4 */
    -webkit-transition:all 2s; /* Safari and Chrome */
    -o-transition:all 2s; /* Opera */
}
.tec-detail-head a:hover{
    transform: rotate(360deg);
    -moz-transform:rotate(360deg) ;
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.tec-detail-body{
    margin-bottom: 20px!important;
}
.article-title{
    text-align: center;
}
.article-time{
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px dotted #ccc;
    color: #888;
}
.article-paragraph{
    margin-top: 10px!important;
    text-align: center;
}
.article-paragraph p{
    text-indent: 2em;
    text-align: left;
    word-break: break-all;
}
.article-paragraph img{
    width: 80%;
}
.tec-nav{
    padding: 10px!important;
}
.tec-nav ul{
    padding:10px 20px!important;
}
.tec-nav ul li {
    list-style: none;
    height: 40px;
    width: 40%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 6px!important;
    border-radius: 0;
    transition:all 1s;
    -moz-transition:all 1s; /* Firefox 4 */
    -webkit-transition:all 1s; /* Safari and Chrome */
    -o-transition:all 1s; /* Opera */
}
.tec-nav ul li:hover{
    border-radius: 10px;
    border-color: #ea644a;
}
.recommend-article{
    padding: 10px!important;
}
.recommend-article ul{
    padding: 0 20px!important;
}
.recommend-article ul li {
  line-height: 24px;
}
.recommend-article ul li a{
    color: black;
    font-size: 14px;
}
.tec-ac{
    background: #03B8CF;
}
.life-ac{
    background: #38B03F;
}
.tec-share{
    background: #EA644A;
}

/*==================================life====================================*/
.life-head{

}
.life-head ul li {
    list-style: none;
    float: left;
    height: 200px;
    width: 20%;
    padding: 10px!important;
    transition:all 1s;
    -moz-transition:all 1s; /* Firefox 4 */
    -webkit-transition:all 1s; /* Safari and Chrome */
    -o-transition:all 1s; /* Opera */
}
.life-head ul li:hover{
    z-index: 10;
    transform: scale(1.1);
}
.life-head ul li:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.life-head ul li{_height:1%;}
.life-head-pic{
    height: 200px;
    overflow: hidden;
}
.life-head-pic li img{
    height:100%;
    width: 100%;
}

.life-pis{
    margin-top: 20px!important;
    background: #DDF4DF;
    height:200px;
    border: 1px solid transparent;
    width: 100%;
    padding: 10px!important;
    position: relative;
    transition:all 1s;
    -moz-transition:all 1s; /* Firefox 4 */
    -webkit-transition:all 1s; /* Safari and Chrome */
    -o-transition:all 1s; /* Opera */
}
.life-pis:hover{
    border: 1px solid #38B03F;
    border-bottom-right-radius: 50px;
}

.life-time-line{
    height: 220px;
    position: relative;
}
.life-line{
    position: absolute;
    height: 100%;
    width: 3px;
    background: #DDF4DF;
    left: 80%;
}
.life-dou{
    position: absolute;
    height: 15px;
    width: 15px;
    background: #38B03F;
    border-radius: 50%;
    left:-6px;
    top: 40%;
}
.life-time{
    position: absolute;
    top: 39%;
    left: 40%;
    color: green;
    font-size: 15px;
}

/**/
.blog-temp-head{
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.blog-temp-head ul li{
    list-style: none;
    float: left;
    height: 100%;
    width: 25%;
}
.head-contain{
    height: 100%;
}
.head-contain img{
    height: 100%;
    width: 100%;
}
.img-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.6);
}
.temp-img{
    cursor: pointer;
    padding: 2px!important;
    height:150px;
    position: relative;
}
.temp-desc{
    display: none;
    text-align: center;
    height: 150px;
    border-bottom: 4px solid #ea644a;
}
.temp-desc h3{
    margin: 0;
}
.temp-desc span{
    display: block;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    color: #888;
}
.img-active .img-hover{
    display: none;
}
.img-active .temp-desc{
    display: block;
}