html,body,div,ul,li{
    margin:0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
}
.page-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(50,50,50,1);
}
header{
    padding-top: 24px;
}
.logo{
    position: absolute;
    top: 24px;
    left: 24px;
    color: white;
    font-size: 18px;
    display: block;
    height: 30px;
    width: 240px;
    text-align: center;
    line-height: 30px;
    background: #8666B8;
}
header ul{
    list-style: none;
    text-align: right;
    padding-right: 20px;
}
header ul li {
    margin-right: 10px;
    display: inline-block;
    color: white;
    cursor: pointer;
    width: 66px;
    font-size: 18px;
    background: rgba(255,255,255,0.3);
    height:40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
header ul li:hover{
    background: white;
    color: black;
}

.body-container{
    height: calc( 100% - 64px );
    position: relative;
}
.body-inner{
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120px;
    width: 1000px;
    margin: auto;
    text-align: center;
    border-bottom: 8px solid white;
}
.body-inner:hover{

}
.hidden{
    visibility: hidden;
}
.big-span{
    font-size: 100px;
    color: #28a773;
}
.small-span{
    font-size: 60px;
    color: #dc725d;
}