<div class="container-fluid row" ng-controller="detailCtrl">
    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
        <div class="tec-detail-head">
            <a class="btn " ng-class="">技术积累</a>
        </div>
        <hr>
        <div class="tec-detail-body">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h3 class="article-title">title</h3>
                <span class="article-time">发布时间：2014-12-12 作者：kevin 分类：javascript</span>
                <div class="article-paragraph">
                    <p>打开手机的哈大声哭了多久啊是大理石科技大厦的大陆开始；就打算大四了；看得见啊速度asda深刻理解大苏打似的卡是打算</p>
                    <img src="lib/img/shendu.png" alt="">
                </div>
                <div class="article-paragraph">
                    <p>dasdasldasghdbjasdk</p>
                    <img src="lib/img/shendu.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="tec-nav">
                    <h4>站内导航</h4>
                    <hr>
                    <ul>
                        <li><a href="">模板下载</a></li>
                        <li><a href="">生活笔记</a></li>
                        <li><a href="">技术分享</a></li>
                        <li><a href="">新手教程</a></li>
                    </ul>
                </div>
                <div class="recommend-article">
                    <h4>阅读推荐</h4>
                    <hr>
                    <ul>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                    </ul>
                </div>
                <div class="recommend-article">
                    <h4>点击排行</h4>
                    <hr>
                    <ul>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                        <li><a href="">使用原声css实现华丽动画</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
</div>