<div class="container-fluid row" ng-controller="blogTempCtrl">
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></div>
    <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8">
        <div class="page-header">
            <h1>实力模板分享<small>如果你有不错的PSD或者效果图，发我邮箱我会挑选合适的做成页面分享！</small></h1>
        </div>
        <div class="blog-temp-head">
            <ul>
                <li class="img-active">
                    <div class="head-contain">
                        <div class="temp-img">
                            <img src="lib/img/share/share-1-1.jpg">
                            <div class="img-hover"></div>
                        </div>
                        <div class="temp-desc">
                            <h3>个人博客首页模板</h3>
                            <span>采用的技术：</span>
                            <span>框架：uikit</span>
                            <span>jquery</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="head-contain" >
                        <div class="temp-img">
                            <img src="lib/img/share/share-2.jpg">
                            <div class="img-hover"></div>
                        </div>
                        <div class="temp-desc">
                            <h3>全屏滚动主页效果</h3>
                            <span>bootstrap</span>
                            <span>jquery</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="head-contain">
                        <div class="temp-img">
                            <img src="lib/img/blog/shendu.png">
                            <div class="img-hover"></div>
                        </div>
                        <div class="temp-desc">
                            <h3>No page</h3>
                            <span>choose what you want</span>
                        </div>
                    </div>
                </li>
                <li >
                    <div class="head-contain">
                        <div class="temp-img">
                            <img src="lib/img/blog/shendu.png">
                            <div class="img-hover"></div>
                        </div>
                        <div class="temp-desc">
                            <h3>No page</h3>
                            <span>choose what you want</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
        <div class="blog-temp-body">
            <div class="tec-pis" ng-repeat="temp in blog_temps">
                <div>
                    <div class="col-xs-2 col-sm-2 col-mg-2 col-lg-2 tec-pic">
                        <img ng-src="{{temp.img}}" class="tec-pics">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-mg-10 col-lg-10 tec-text">
                        <h3>{{temp.title}}</h3>
                        <span>{{temp.desc}}</span>
                    </div>
                </div>
                <div class="tec-btn">
                    <a class="btn" ng-href="{{temp.src}}" target="_blank">预览效果>></a>
                    <a class="btn" download ng-href="{{temp.download}}">模板下载</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></div>
</div>