<style>
    body,ul,li{ margin:0; padding:0}
    ul,li{ list-style:none;}
    .HXM-tec-lunBo-ul{ position:absolute;padding:0;}
    .carouselBtn{ overflow:hidden; height:30px;position:absolute; bottom:3px; left:50%; margin-left:-100px;}
    .carouselBtn li{ float:left; margin:0 10px; padding:5px; cursor:pointer; background: #ea644a;border:1px #ea644a solid;border-radius:12px; height:22px; width:22px; overflow:hidden; text-align:center; line-height:10px;opacity:0.6; float:left;}
    .carouselBtn li.on{ background: #ea644a; color:white;}
</style>
<div class="container-fluid row" id="tec-inner" ng-controller="myTecCtrl">
    <div  class="col-md-12 col-lg-12 HXM-tec-lunBo">
        <ul class="HXM-tec-lunBo-ul">
            <li ng-repeat="carousel in tec_Carousel">
                <a>
                    <img ng-src="{{carousel.src}}" border="0">
                </a>
                <div class="li-text-are">
                    <h2>{{carousel.h2}}</h2>
                    <h3>{{carousel.h3}}</h3>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-8 col-lg-8 tec-contain">
        <div class="tec-contain-title">
            <h3>最新文章</h3>
        </div>
        <div class="tec-pis" ng-repeat="article in tec_articles">
            <div>
                <div class="col-xs-2 col-sm-2 col-mg-2 col-lg-2 tec-pic">
                    <img ng-src="{{article.src}}" class="tec-pics">
                </div>
                <div class="col-xs-10 col-sm-10 col-mg-10 col-lg-10 tec-text">
                    <h3 ng-click="goTecDetail(article.path)">{{article.title}}</h3>
                    <span>{{article.desc}}</span>
                </div>
            </div>
            <div class="tec-btn">
                <a class="btn" ng-click="goTecDetail(article.path)">阅读全文>></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 tec-right">
        <div class="tec-tags">
            <h3>标签云</h3>
            <hr/>
            <ul>
                <li style="background-color: #EA644A;"><a >个人博客</a></li>
                <li style="background-color: #F1A325;"><a >web开发</a></li>
                <li style="background-color: #38B03F;"><a >bootstrap</a></li>
                <li style="background-color: #03B8CF;"><a >jquery</a></li>
                <li style="background-color: #BD7B46;"><a >carousel</a></li>
                <li style="background-color: #8666B8;"><a >CSS3</a></li>
                <li style="background-color: #3280FC;"><a >Html5+css3</a></li>
                <li style="background-color: #EBF2F9;"><a style="color: black;">angularJS</a></li>
                <li style="background-color: #145CCD;"><a >Javasript</a></li>
            </ul>
        </div>
    </div>
</div>