<style>
    body,ul,li{ margin:0; padding:0}
    ul,li{ list-style:none;}
    .HXM-tec-lunBo-ul{ position:absolute;padding:0;}
    .carouselBtn{ overflow:hidden; height:30px;position:absolute; bottom:3px; left:50%; margin-left:-100px;}
    .carouselBtn li{ float:left; margin:0 10px; padding:5px; cursor:pointer; background: #ea644a;border:1px #ea644a solid;border-radius:12px; height:22px; width:22px; overflow:hidden; text-align:center; line-height:10px;opacity:0.6; float:left;}
    .carouselBtn li.on{ background: #ea644a; color:white;}
</style>
<div class="container-fluid row" id="tec-inner" ng-controller="myTecCtrl">
    <div  class="col-md-12 col-lg-12 HXM-tec-lunBo">
        <ul class="HXM-tec-lunBo-ul">
            <li ng-repeat="carousel in tec_Carousel">
                <a>
                    <img ng-src="{{carousel.src}}" border="0">
                </a>
                <div class="li-text-are">
                    <h2>{{carousel.h2}}</h2>
                    <h3>{{carousel.h3}}</h3>
                </div>
            </li>
            <!--焦点图个数不限-->
        </ul>
    </div>
    <div class="col-md-2 col-lg-2">111</div>
    <div class="col-md-8 col-lg-8 tec-contain">
        <div class="tec-pis">
            <div>
                <div class="col-xs-2 col-sm-2 col-mg-2 col-lg-2 tec-pic">
                    <img src="./lib/img/newhome.jpg" class="tec-pics">
                </div>
                <div class="col-xs-10 col-sm-10 col-mg-10 col-lg-10 tec-text">
                    <span>打开ID哈市卡打死了打大量可达打卡点时空龙大厦打开来打手打算快乐到死打算快乐好</span>
                </div>
            </div>
            <div class="tec-btn">
                <a class="btn">阅读全文>></a>
            </div>
        </div>
        <div class="tec-pis">
            <div>
                <div class="col-xs-2 col-sm-2 col-mg-2 col-lg-2 tec-pic">
                    <img src="./lib/img/newhome.jpg" class="tec-pics">
                </div>
                <div class="col-xs-10 col-sm-10 col-mg-10 col-lg-10 tec-text">
                    <span>打开ID哈市卡打死了打大量可达打卡点时空龙大厦打开来打手打算快乐到死打算快乐好</span>
                </div>
            </div>
            <div class="tec-btn">
                <a class="btn">阅读全文>></a>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2">33</div>
</div>