<style>
    body,ul,li{ margin:0; padding:0}
    ul,li{ list-style:none;}
    .focus{ margin:0 auto; height:320px; width:980px; overflow:hidden; position:relative; padding:0;}
    .HXM-tec-lunBo-ul{ position:absolute;padding:0;}
    .btn{ overflow:hidden; height:30px;position:absolute; bottom:3px; left:50%; margin-left:-100px;}
    .btn li{ float:left; margin:0 10px; padding:5px; cursor:pointer; background: #fff;border:1px #900 solid;border-radius:12px; height:22px; width:22px; overflow:hidden; text-align:center; line-height:10px;opacity:0.6; float:left;}
    .btn li.on{ background: #990000; color:#FFFFFF;}
</style>
<div class="container-fluid row" id="tec-inner" ng-controller="myTecCtrl">
    <div  class="col-md-12 col-lg-12 HXM-tec-lunBo">
        <ul class="HXM-tec-lunBo-ul">
            <li>
                <a>
                    <img src="./lib/img/12.jpg" border="0">
                </a>
                <div class="li-text-are">
                    <h1>我们的目标是，星辰大海！</h1>
                    <h3>但是别忘了，梦在远方。</h3>
                </div>
            </li>
            <li>
                <a>
                    <img src="./lib/img/gal.jpg" border="0">
                </a>
                <div class="li-text-are">
                    <h1>年少不轻狂，不要又何妨！</h1>
                    <h3>不疯魔，不成活。</h3>
                </div>
            </li>
            <li>
                <a>
                    <img src="./lib/img/logo.png" border="0">
                </a>
                <div class="li-text-are">
                    <h1>技术的积累，决定成功的高度！</h1>
                    <h3>技术的全面，决定了生涯的宽度。</h3>
                </div>
            </li>
            <li>
                <a>
                    <img src="./lib/img/pic1.png" border="0">
                </a>
                <div class="li-text-are">
                    <h1>技术的积累，决定成功的高度！</h1>
                    <h3>技术的全面，决定了生涯的宽度。</h3>
                </div>
            </li><!--焦点图个数不限-->
        </ul>
    </div>
    <div class="col-md-2 col-lg-2">111</div>
    <div class="col-md-8 col-lg-8 tec-contain">
        <div class="tec-pis">
            <div>
                <div class="col-xs-2 col-sm-2 col-mg-2 col-lg-2 tec-pic">
                    <img src="./lib/img/newhome.jpg" class="tec-pics">
                </div>
                <div class="col-xs-10 col-sm-10 col-mg-10 col-lg-10">2</div>
            </div>
        </div>
        <div class="tec-pis">

        </div>
    </div>
    <div class="col-md-2 col-lg-2">33</div>
</div>